html{
  overflow: visible;
}

body{

	font-family: "Arial";
	font-size: 1em;
    margin: 0px;
    background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(76, 20, 233, 0.3), 
      rgba(76, 20, 233, 0.3)
    ),
    /* bottom, image */
    url(gal-rot.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}

#Name{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

#NameBg{
  max-width: 100%;
  max-height:100%;
}
#About ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#experience ul {
  padding:5pt;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.NameCon{
background: 
  /* top, transparent red, faked with gradient */ 
  linear-gradient(
    rgba(76, 20, 233, 0.2), 
    rgba(76, 20, 233, 0.2)
  ),
  /* bottom, image */
  url(galaxy.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Style the links inside the navigation bar */
.NameCon a {

  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#About{
  height:550px;
  background: 
  /* bottom, image */
  url(grid-01.jpg);
  background-size:     cover;                
  background-repeat:   no-repeat;
  background-position: center center;    
  padding-top:15;
  padding-left:10;
  padding-right:10;
}

#experience{
  background: 
  /* bottom, image */
  url(city.jpg);
  background-size:     cover;                
  background-repeat:   no-repeat;
  background-position: center center;    
  padding-top:10;
  padding-left:10;
  padding-right:10;
  padding-bottom: 10pt;
}

 h2{
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 0;
  margin-top:0;
  text-align:center;
  color:white;
  box-shadow: 0px 0px 20px 5px #FF25CF;
  background-color:black;
  border: 2px solid #FF25CF;
}

#experience #Clemson{
  padding:5pt;
  text-align:left;
  margin-left:2%;
  margin-right:35%;
  margin-top:0;
  margin-bottom: 0;
  color:white;
  margin-top:2%;
  box-shadow: 0px 0px 20px 5px #F56600;
  background-color:black;
  border: 2px solid #F56600;
}

#experience #Clemson-Blue{
  padding:5pt;
  text-align:left;
  margin-left:2%;
  margin-right:35%;
  margin-top:0;
  margin-bottom: 0;
  color:white;
  margin-top:2%;
  box-shadow: 0px 0px 20px 5px #7122FA;
  background-color:black;
  border: 2px solid #7122FA;
}

i{
  margin-left:2%;
}

#experience #Amazon{
  padding:5pt;
  margin-left:35%;
  margin-right:2%;
  margin-top:0;
  margin-bottom: 0;
  text-align:left;
  color:white;
  margin-top:2%;
  box-shadow: 0px 0px 20px 5px #FF9900;
  background-color:black;
  border: 2px solid #FF9900;
}

#experience #Michelin{
  padding:5pt;
  margin-left:35%;
  margin-right:2%;
  margin-top:0;
  margin-bottom: 0;
  text-align:left;
  color:white;
  margin-top:2%;
  box-shadow: 0px 0px 20px 5px #005B90;
  background-color:black;
  border: 2px solid #005B90;
}
#Clemson hr{
  height: 2px;
  background-color: #F56600;
  border: none;
}
#Clemson-Blue hr{
  height: 2px;
  background-color: #7122FA;
  border: none;
}
#Amazon hr{
  height: 2px;
  background-color: #FF9900;
  border: none;
}
#Michelin hr{
  height: 2px;
  background-color: #005B90;
  border: none;
}


#experience ul{
  margin-bottom:1%;
}

#experience h4{
  margin:0;
  text-align:center;
  margin-bottom:1%;
}

#experience h3{
  margin:0;
  margin-left:2%;
  text-align:center;
  padding:1pt;
}

.Information{
height: 78%;
width: 95%;
padding: 10pt;
margin:auto;
  background-color:rgba(	59, 59, 59, 0.3);
  border-radius: 25px;
  border: 5px solid rgba(231, 231, 231, 0.3);

}

.Information p{
  color: white;
}

.Information h2{
  margin-top:0;
  margin-bottom: 0;
  text-align:center;
  color:white;
}
.Information h3{
  margin-top:0;
  margin-bottom: 0;
  text-align:center;
  color:white;
}
#headshot{
  float: left;
  max-width: 100%;
  max-height: 260px;
  border-radius: 25px;
  padding-right: 10px;
  }

#link{
  margin:auto;
  background-color:rgba(	59, 59, 59, 0.3);
  border-radius: 25px;
  border: 5px solid rgba(231, 231, 231, 0.3);
}

#About li{
  padding:5px;
}
#experience li{
  padding:5px;
}

#About a {
  background-color: #FF25CF;
  border: 2px solid white;
  border-radius:50px;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 0px 0px 10px 1px #FF25CF;
}

.box{
  box-shadow: 0px 0px 40px 20px #0099ff;
		margin-top: 50px;
    width: 800px;
	margin-left: auto;
	margin-right: auto;
}

#Recents{
  height:650px;
  background-image: url(train.jpg);
  text-align:center;
}

#Recents ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#Recents .left{
  text-align:left;
  margin-top:0;
  margin-bottom: 0;
  color:white;
  margin-top:2%;
  width:45%;
}

#Recents .right{
  text-align:left;
  margin-top:0;
  margin-bottom: 0;
  color:white;
  margin-top:2%;

  width:45%;
}

#Pink{
  padding:5pt;
  box-shadow: 0px 0px 20px 5px #FF25CF;
  background-color:black;
  border: 2px solid #FF25CF;
}
#Blue{
  padding:5pt;
  box-shadow: 0px 0px 20px 5px #7122FA;
  background-color:black;
  border: 2px solid #7122FA;
}
#Purple{
  padding:5pt;
  box-shadow: 0px 0px 20px 5px #560A86;
  background-color:black;
  border: 2px solid #560A86;
}

#Blue hr{
  height: 2px;
  background-color: #7122FA;
  border: none;
}
#Pink hr{
  height: 2px;
  background-color: #FF25CF;
  border: none;
}

#Recents h4{
margin:0;
}

 table{
   margin-top:0;
   padding-top:0;
   margin-left:auto;
   margin-right:auto;
   border-spacing: 25pt;
  width:95%; 
  text-align:center;
}

#Recents ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#Recents li{
  padding:5pt;
}

#contact{
  background-image: url(tracks.jpg);
  height:135pt;
}

#contact td{
  width:30%;
}
