:root {
    --background_color: white;
    --text_color:black;
    --border_color:black;
}

.on {
    background-color: coral;
}

html *
{
    
    font-family: Georgia, serif;
}

body {
    color:var(--text_color);
    text-align: center;
    background-color: var(--background_color);
    padding:30pt;
    padding-top:0pt;
}

tr {
    overflow:hidden;
}

h2 {
    font-size: 40px;
    text-align: center;
}

th {
    font-size: 25px;
    padding:5pt;
}

.top {
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    height: 50px;
    width: 50px;
    border-radius: 100px;
    background: #73AD21;
    margin-left:auto;
    margin-right:auto;
    box-shadow: 5px 5px;
}


td {
    border: 4px solid var(--border_color);
    font-size: 15px;
    width:100px;
    height: 100px;;
}

table {
    table-layout:fixed;
    border-collapse: collapse;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    color: var(--text_color);
}

